@model travis_resume.Models.Education

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Education</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="EducationId" />
        <div class="form-group">
            <label asp-for="AddressCity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressCity" class="form-control" />
                <span asp-validation-for="AddressCity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressId" class="form-control" />
                <span asp-validation-for="AddressId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressLineOne" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressLineOne" class="form-control" />
                <span asp-validation-for="AddressLineOne" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressLineTwo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressLineTwo" class="form-control" />
                <span asp-validation-for="AddressLineTwo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressState" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressState" class="form-control" />
                <span asp-validation-for="AddressState" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AddressZip" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AddressZip" class="form-control" />
                <span asp-validation-for="AddressZip" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EducationDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EducationDescription" class="form-control" />
                <span asp-validation-for="EducationDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EducationLevel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EducationLevel" class="form-control" />
                <span asp-validation-for="EducationLevel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EducationName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EducationName" class="form-control" />
                <span asp-validation-for="EducationName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
