@model travis_resume.Models.ResumeViewModels.ResumeViewModel

@{
    ViewData["Title"] = "Contact Me";
}

<div class="col-sm-12">
    <h1 class="center">Travis Talcott</h1>
    <h4 class="center">ttalcott@lyradevelopment.com</h4>
    <h4 class="center">(505) 717-5401</h4>
    <h4 class="center"><a href="http://www.lyradevelopment.com" target="_blank">www.lyradevelopment.com</a></h4>
    <h4 class="center"><a href="https://www.github.com/ttalcott" target="_blank">www.github.com/ttalcott</a></h4>
    <hr />

</div>
